{% extends 'base.html' %}

{% block content %}
<div class= 'container'>

    <form action="/submit-form" method="post">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" required>
      
        <label for="email">Email:</label>
        <input type="email"class="form-control" id="email" name="email" required>
      
        <label for="message">Message:</label>
        <textarea id="message" class="form-control" name="message" rows="9" required></textarea>
      <br />
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
</div>
{% endblock content %}