{% extends 'base.html' %}

{% block content %}
<div class='container'>
<main class="form-signin w-100 m-auto">
    <form method='POST'>
      {% csrf_token %}
      <h1 class="h3 mb-3 fw-normal">Please sign Up</h1>
  
      <div class="form-floating">
        <input type="email" name='useremail' class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" name= 'userpassword' class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
  
  
      <button class="btn btn-primary w-100 py-2" type="submit">Sign Up</button>
    </form>
  </main>

</div>
{% endblock content %}


